 <%- include("partials/header") -%>
    <h1>Home</h1>
    <p><%=head1%><p>
    <%   posts.forEach(function(posts){   %>
       <h1><%=posts.postTitle%></h1>

      <p><%=posts.postBody.substring(0,100) + " ... " %>
        <a href="/posts/<%=posts.postTitle%>" >Read More</a>
      </p>
<%  }); %>
<%- include("partials/footer") -%>
